html {
  background: rgb(29, 28, 28);
}

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(248, 252, 255);
}

.full-body {
  padding: 2%;
  padding-left: 1%;
}

.title {
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.personal-details {
  display: grid;
  justify-content: center;
  align-items: center;
}

.personal-details ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 110%;
  padding-left: 0px;
}

.full-body {
  display: grid;
  column-gap: 10em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 0fr 1fr;

}

.title img {
  height: 100px;
  width: 106px;
  border-radius: 50%;
  zoom: 1.7;
  margin-top: -2px;
  margin-bottom: 10px;
}

.summary {
  display: flex;
  flex-direction: column;
}

.para {
  margin-top: 5%;
  font-size: large;
  line-height: 200%;
}

.project-list {
  padding-right: 33%;
}

h1{
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(127, 204, 255);
}

h3 {
  color: rgb(228, 169, 129);
}

span {
  color: rgb(228, 169, 129);
}
 
/* responsive for mobiles */

@media (max-width:605px ) {
  .box {
    font-size: 60%;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  
  .full-body {
    display: unset;
    }
                          

  .summary .para {
    margin-top: 0%;
    font-size: 9.6px;
    line-height: 150%;
  }
  .title img {
    height: 40px;
    width: 45px;
    margin-bottom: 2px;
  }

  .personal-details {
    font-size: 9.5px;
  }

  .title h1 {
    font-size: 16px;
  }
  .project-list {
    font-size: 60%;
  }
}
