html {
  background: rgb(29, 28, 28);
}

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(248, 252, 255);
}

/* .box {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.title {
  display: grid;
  justify-content: center;
  align-items: center;
}

.personal-details {
  display: grid;
  justify-content: center;
  align-items: center;
}

.personal-details ul {
  list-style-type: none;
  line-height: 110%;
  padding: 0;
  margin-top: 15%;
}

.full-body {
  display: grid;
  column-gap: 10em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 0fr 1fr;
}

.title img {
  height: 100px;
  width: 113px;
  border-radius: 50%;
  zoom: 1.7;
}

.summary {
  display: flex;
  flex-direction: column;
}

.para {
  margin-top: 10%;
  font-size: large;
  line-height: 200%;
}

h2 {
  color: aquamarine;
}

h3 {
  color: rgb(228, 169, 129);
}

span {
  color: rgb(157, 86, 224);
}

@media (max-width:605px ) {
  .box {
    font-size: 60%;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  .hero {

  }
  .full-body {
    display: unset;
  }
  .summary .para {
    margin-top: 0%;
    font-size: 9.6px;
    line-height: 150%;
  }
  .title img {
    height: 40px;
    width: 45px;
  }

  .personal-details {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 9.5px;
  }

  .title h1 {
    font-size: 16px;
  }
  .project-list {
    font-size: 60%;
  }
}
